<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOJA TI</title>
    <style>

    </style>
</head>
<body>
    <div>
        <h2>LOJA TI</h2>
        <hr />
        <br />
        
        <div>
            <h2>POXA!</h2>
            <p>
                Que pena que não finalizou seu pagamento. Realize o seu pedido novamente para receber os melhores produtos!
            </p>
        </div>
    </div>
</body>
</html>