<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LOJA TI</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <div>
      <header class="header flex flex-center">
        <h1 class="titulo">LOJA TI</h1>
      </header>
      <br />
      <br />

      <div class="flex vertical flex-center">
        <h1 class="sub-titulo cor-vermelho text-center">POXA!</h1>
        <br />
        <br />
        <p class="text text-center">
          Que pena que não finalizou seu pagamento.<br />Realize o seu pedido
          novamente para receber os melhores produtos!
        </p>
      </div>
    </div>
  </body>
</html>
