<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOJA TI</title>
    <style>

    </style>
</head>
<body>
    <div>
        <h2>LOJA TI</h2>
        <hr />
        <br />
        
        <div>
            <h2>COMPRA CONFIRMADA COM SUCESSO!</h2>
            <p>Nossa equipe já está preparando seu pedido para envio. Obrigado!</p>
        </div>
    </div>
</body>
</html>