<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LOJA TI</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <div>
      <header class="header flex flex-center">
        <h1 class="titulo"><a href="/">LOJA TI</a></h1>
      </header>
      <br />
      <br />

      <div class="flex vertical flex-center">
        <h1 class="sub-titulo cor-verde text-center">
          COMPRA CONFIRMADA COM SUCESSO!
        </h1>
        <br />
        <br />
        <p class="text text-center">
          Nossa equipe já está preparando seu pedido para envio.<br />Obrigado!
        </p>
      </div>
    </div>
  </body>
</html>
